<h2>Show Link</h2>

<ul>

  <li>
    <strong>Shorturl:</strong>
    <%= @link.shorturl %>
  </li>

  <li>
    <strong>Fullurl:</strong>
    <%= @link.fullurl %>
  </li>

</ul>

<span><%= link "Edit", to: link_path(@conn, :edit, @link) %></span>
<span><%= link "Back", to: link_path(@conn, :index) %></span>
